@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
:root{
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

body,html{
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
}


body{
    background-color: var(--Cream);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}


.upperbox{
    padding: 3%;
    background-color: var(--Soft-red);
    width: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.upperbox img{
    position: relative;
    right: 0;
}
.img{
    width: 100%;
    display: flex;
    justify-content: right;
}

.img img{
    width: 20%;
}

.balance{
    color: white;
}

.balance h1{
    margin-top: 15px;
    margin-bottom: 0;
}

.lowerbox{
    background-color: var(--Very-pale-orange);
    margin-top: 3%;
    padding: 3%;
    width: 70%;
    border-radius: 20px;
}

.day{
    border-bottom: 1px solid var(--Cream);
}

.total{
    margin-top:10%;
    color: var(--Medium-brown);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.totalmonth h1{
    margin: 5px;
    color: black;
}

.percent {
    text-align: right;
    margin: 5px;
}

.percent b{
    color: black;
}
.graphs {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 10px;
  }
.graphs .bar {
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    background-color: var(--Soft-red);
    position: relative;
    transition: 500ms ease;
    cursor: pointer;
  }

.graphs .bar .day {
    position: absolute;
    bottom: -25px;
    left: 6px;
}

  .graphs .bar:hover {
    background-color: hsl(10deg, 79%, 75%);
  }

.graphs .bar:nth-child(2) {
    height: 5rem;
  }
.graphs .bar:nth-child(3) {
    background-color: var(--Cyan);
    height: 7rem;
  }
.graphs .bar:nth-child(3):hover {
    background-color: hsl(186deg, 34%, 75%);
  }
.graphs .bar:nth-child(4) {
    height: 4rem;
  }
.graphs .bar:nth-child(5) {
    height: 3rem;
  }
.graphs .bar:nth-child(6) {
    height: 5.5rem;
  }
.graphs .bar:nth-child(7) {
    height: 3.5rem;
  }
.graphs .bar::before {
    display: none;
    content: attr(data-tooltip);
    width: 33px;
    height: 18px;
    background-color: var(--Dark-brown);
    color: #fff;
    position: absolute;
    top: -25px;
    left: -2px;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 600;
  }
.graphs .bar:hover::before {
    display: flex;
    align-items: center;
    justify-content: center;
  }